.main
  .splash-container
    .logo
      <span class='orange'>gee</span><span class='blue'>tar</span>
    .tagline
      no bullshit tab search
    = haml :_search

    %a{ href: "https://github.com/jpalmieri/geetar", target: "_blank" } GitHub repo
